.main-menu {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > li {
      list-style: none;
      font-size: 1rem;
      > a {
        padding: 10px 12px 10px 12px;
        display: block;
        font-weight: normal;
        text-decoration: none;
        color: $header-color;
        &:hover {
          text-decoration: underline;
        }
      }
      > a::after {
        display: block;
        content: attr(title);
        font-weight: bold;
        height: 0px;
        color: transparent;
        overflow: hidden;
        visibility: hidden;
      }
      &.active {
        > a {
          font-weight: bold;
          text-decoration: none;
          &:hover {
            text-decoration: none;
            transition: all 225ms ease-in 0s;
          }
        }
      }
    }
  }
  
}
