---
layout: default
bodyClass: "page-peoples"
---

<div class="intro">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-10 col-lg-9 order-2 order-md-1">
                {{ content }}
            </div>
            {% if page.intro_image %}
            <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
                <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container pt-6 pb-6">
    <div class="row">
        {% assign featured_peoples = site.people | where: "featured", true | sort: "weight" %}
        {% for people in featured_peoples %}
        <div class="col-12 col-md-6 mb-2">
            <div class="people people-summary people-summary-large">
                {% if people.img %}
                <div class="people-image">
                    <img width="90" height="90" alt="{{ people.title }}" class="img-fluid mb-2" src="{{ people.img | relative_url }}" />
                </div>
                {% else %}
                <div class="people-image" color="gray">
                    <img width="90" height="90" style="opacity: 0.6" alt="{{ people.title }}" class="img-fluid mb-2" src="/assets/img/profile-photos/pending-icon.svg" />
                    
                </div>
                {% endif %}
                <div class="people-meta">
                    <h2 class="people-name"><a href="{{ people.url | relative_url }}">{{ people.title }}</a></h2>
                    <p class="people-description">{{ people.position }}</p>
                    {% if people.academic-url %}
                    <a target="_blank" href="{{ people.academic-url }}" rel="noreferrer">Academic website</a>
                    {% endif %}
                </div>
                <div class="people-content">{{ people.content | truncate: 120 }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row pt-3 pb-1">
        {% assign peoples = site.people  | where: "status", "Current" | sort: "weight" %}
        {% for people in peoples %}
        {% if people.featured != true %}
        <div class="col-12 col-md-4 mb-3">
            <div class="people people-summary">
                {% if people.img %}
                <div class="people-image">
                    <img width="60" height="60" alt="{{ people.title }}" class="img-fluid mb-2" src="{{ people.img | relative_url }}" />
                </div>
                {% else %}
                <div class="people-image" color="gray">
                    <img width="90" height="90" style="opacity: 0.6" alt="{{ people.title }}" class="img-fluid mb-2" src="/assets/img/profile-photos/pending-icon.svg" />
                    
                </div>
                {% endif %}
                <div class="people-meta">
                    <h2 class="people-name"><a href="{{ people.url | relative_url }}">{{ people.title }}</a></h2>
                    <p class="people-description">{{ people.position }}</p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="intro pt-1">
        <div class="row pt-1 pb-1">
            <div class="col-12 col-md-4 ">
                <h2 class="mb-0 ">Alumni</h2>
            </div>
        </div>
    </div>
    <div class="row pt-1 pb-1">
        {% assign peoples = site.people | where: "status", "Alumni" | sort: "weight" %}
        {% for people in peoples %}
        {% if people.featured != true %}
        <div class="col-12 col-md-4 pt-1 mb-3">
            <div class="people people-summary">
                {% if people.img %}
                <div class="people-image">
                    <img width="60" height="60" alt="{{ people.title }}" class="img-fluid mb-2" src="{{ people.img | relative_url }}" />
                </div>
                {% else %}
                <div class="people-image" color="gray">
                    <img width="90" height="90" style="opacity: 0.6" alt="{{ people.title }}" class="img-fluid mb-2" src="/assets/img/profile-photos/pending-icon.svg" />
                    
                </div>
                {% endif %}
                <div class="people-meta">
                    <h2 class="people-name"><a href="{{ people.url | relative_url }}">{{ people.title }}</a></h2>
                    <p class="people-description">{{ people.position }}</p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
